<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>After Signup Page</title>
    </head>
    <body>
        <h1>Your Signup is Successful!!! Please Login now.<a href="/login">Login</a></h1>
    </body>
</html>
