<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shopping  Cart</title>
    </head>
        <body>

                <p>This is my Shopping Cart Page</p>
                <h2>Shopping Cart</h2>
                    <ul>
                       <li ng-repeat="product in controller.products">
                         {{product.name}}, {{product.price|currency}}<br/>
                      </li>
                     <div>
                      <label>Total:</label> {{controller.total}}<br/>
                      <a href="#/checkout">Proceed to checkout</a>
                    </div>
                    </ul>


        </body>
</html>
